:root {
  --color-bg: #fefae0;
  --color-text: #222222;
  --color-div-text: #fefae0;
  --color-border: #283618;
  --color-odd: #606c38;
  --color-even: #dda15e;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
.container {
  display: grid;
  gap: 0.8rem;

  grid-template-columns: 130px 130px 130px;
  grid-auto-rows: 80px;
}

div {
  border: 1px solid var(--color-border);
  color: var(--color-div-text);
  padding: 0.3rem;
  border-radius: 0.8rem;
}

div:nth-child(even) {
  background-color: var(--color-even);
}
div:nth-child(odd) {
  background-color: var(--color-odd);
}
