body {
    background-color: #003049;
    color: #8ecae6;
}

h3 {
    margin-bottom: 0;
}

ul {
    list-style: none;
    border-left: 3px solid #8ecae6;
    padding-left: .5rem;
}

li {
    padding: 0.1rem 0.3rem;
}

a {
    color: white;
    text-decoration: none;
}